@media only screen and (max-width: 75em) {
	.wrapper{
		width: 65%;
	}
}

@media only screen and (max-width: 62em) {
	.wrapper{
		width: 75%;
	}
}

@media only screen and (max-width: 48em) {
	.wrapper{
		width: 100%;
	}
}