@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import 'values.scss';

*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: white;
}
body{
	background: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.wrapper{
	flex: 1;
}
.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $header-title;
	padding-top: .5%;
}
.header__title{
	text-transform: uppercase;
	/*color: $header-title;*/
	color: white;
	font-size: 2em;
}
.header__description{
	@extend .header__title;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5;
}
.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
}
.wrapper__item{
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	border-radius: 0 0 5% 5%;
	margin-bottom: 5%;
}
.item__header{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: .5% 2% .5% 1%;
	border: 1px solid #315589;
	@include gradient(#5287bd, #3960a3);
	.icon{
		font-size: 1.5em;
		color: #384e74;
	}
	.item__header_input{
		flex: 1;
		font-size: 1.5em;
		background: transparent;
		border: none;
		cursor: pointer;
		margin-left: 10px;
		&:hover,&:focus{
			outline: none;
		}
	}
	.header__icon{
		background: transparent;
		border: none;
		cursor: pointer;
		&:first-child{
			margin-right: 5px;
		}
		&:last-child{
			margin-left: 5px;
		}
		.icon{
			color: #98b0d2;
			transition: all .2s ease;
			&:hover,&:focus{
				color: #afcbf2;
			}
		}
		&:hover,&:focus{
			outline: none;
		}
	}
}
.item__new-task{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	padding: 1% 2% 1% 1%;
	@include gradient(#dfdfdf, #cdcdcd);
	.icon{
		color: #589270;
		font-size: 1.8em;
		flex: .05;
	}
}
.new-task__text{
	flex: 1;
	color: lighten($list-color, 20%);
	font-size: 1em;
	padding: 0 .5em;
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.75);
	border: none;
	&:focus{
		outline: none;
		color: darken($list-color,20%);
	}
}
.new-task__btn{
	flex: .15;
	text-transform: capitalize;
	@include gradient(#91c8ab, #447557);
	border: none;
	box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
	border: 1px solid #447557;
	border-radius: 0 .25em .25em 0;
	cursor: pointer;
	&:focus, &:hover{
		outline: none;
		background: lighten(#447557, 5%);

	}
}
.list__point{
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	background: white;
	border-bottom: 1px solid #e7ebea;
	transition: all .2s ease;
	&>*{
		margin: 0 2%;
		padding: 1% 0;
	}
	&:hover{
		background: #fcfed5;
		.point__action{
			opacity: 1;
		}
		.point__label{
			color: darken($list-color, 20%);
		}
	}
}
.point__checkbox{
	align-self: center;
}
.point__label{
	color: $list-color;
	font-size: 1em;
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin: 0;
	padding: 1% 2%;
	cursor: pointer;
	border:{
		right: 1px solid #e7ebea;
		left: 1px solid #efdadf;
	}
	.point__label_input{
		flex: 1;
		background: transparent;
		resize: none;
		border: none;
		color: $list-color;
		cursor: pointer;
		/*text-decoration: line-through;*/
		&:focus{
			outline: none;
			color: darken($list-color, 20%);
		}
	}
}
.point__checkbox:checked + .point__label{
	.point__label_input{
		text-decoration: line-through;
	}
}
.point__action{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex: 0.1;
	opacity: 0;
	transition: all .15s ease;
	.action__btn{
		background: transparent;
		cursor: pointer;
		border: none;
		padding: 0 5%;
		border-right: 2px solid #e7ebea;
		&:last-child{
			border-right: none;
		}
		.fa{
			color: $list-color;
			font-size: 1em;
		}
		&:hover, &:focus{
			outline: none;
			.fa{
				color: darken($list-color, 20%);
			}
		}
	}
}
.title-task{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	/*padding: 0 10%;*/
	z-index: 100;
	transform: translateY(-100%);
	transition: all .5s ease;
	.title-task__add{
		width: 40%;
		/*height: 50%;*/
		/*@include gradient(#5287bd, #3960a3);*/
		background: transparent;
		display: flex;
		/*flex-direction: column;*/
		justify-content: center;
		align-items: center;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	}
	.add__text{
		/*color: lighten($list-color, 20%);*/
		color: black;
		font-size: 1.5em;
		padding: .15em .2em;
		box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.75);
		border: none;
		flex: .8;
		&:focus{
			outline: none;
		}
	}
	.add__submit{
		@extend .new-task__btn;
		align-self: stretch;
		flex: .2;
		font-size: 1em;
	}
	&.active{
		transform: translateY(0%);
	}
	.title-task__close{
		position: absolute;
		top: 5%;
		right: 5%;
		cursor: pointer;
		background: transparent;
		border: none;
		color: darken(white,20%);
		transition: all .25s ease;
		font-size: 1.5em;
		padding: .5em;
		&:focus,&:hover{
			color: white;
			outline: none;
		}
	}
}


.footer{
	@extend .header;
	padding-top: 0;
	width: 100%;
}
.footer__form{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
}
.footer__add{
	/*width: 100%;*/
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	color: white;
	border: none;
	border-radius: 2px;
	border: 1px solid #315589;
	@include gradient(#5287bd, #3960a3);
	font-weight: bold;
	padding: 3% 3% 3% 2%;
	cursor: pointer;
	transition: all .3s ease;
	will-change: background, border;
	.icon{
		flex: 1;
		color: #384e74;
		margin-right: 7px;
		transition: all .35s ease;
	}
	&:focus, &:hover{
		outline: none;
		.icon{
			color: white;
		}
	}
}
.footer__description{
	@extend .header__description;
	text-transform: capitalize;
	font-size: .8em;
}

@import "media.scss";